<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sample_App">
        <activity
            android:name=".ui.theme.activity.BroadCastActivity"
            android:exported="false" />
        <activity
            android:name=".ui.theme.activity.MusicActivity"
            android:exported="false" />

        <service
            android:name=".ui.theme.Services.MusicService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />
        <service
            android:name=".ui.theme.Services.LocationService"
            android:exported="false"
            android:foregroundServiceType="location" />
        <service
            android:name=".ui.theme.Services.NewService"
            android:exported="false" />

        <activity
            android:name=".ui.theme.activity.LocationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.theme.activity.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.theme.activity.ServiceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.theme.activity.miniAppActivites.CommonUiActivity"
            android:exported="true" />
        <activity android:name=".ui.theme.activity.miniAppActivites.LoginInActivity" />
        <activity
            android:name=".ui.theme.activity.miniAppActivites.SingUpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.theme.activity.CoroutinActivity"
            android:exported="false" />
        <activity
            android:name=".ui.theme.activity.CollectionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.theme.activity.CalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.theme.activity.KotlineBasicActivity"
            android:exported="false" />
        <activity
            android:name=".ui.theme.activity.LifeCycleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.theme.activity.ApiOptbtnActivity"
            android:exported="false" />
        <activity
            android:name=".ui.theme.activity.registrationLocalActivity"
            android:exported="false" />
        <activity
            android:name=".ui.theme.activity.recyleviewActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="profile"
                    android:scheme="myapp" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.theme.activity.livedataActivity"
            android:exported="false" />
        <activity
            android:name=".ui.theme.activity.signupActivity"
            android:exported="false" />
        <activity
            android:name=".ui.theme.activity.task2"
            android:exported="false" />
        <activity
            android:name=".ui.theme.activity.regitartionScreenActivity"
            android:exported="false" />
        <activity
            android:name=".ui.theme.activity.infostudentActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sample_App">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>